.App {
  text-align: center;
}
.My.Profile{
  color: #8c4843 !important
}
.Home{
  color: #bba14f !important
}
.about{
  color: #8c4843 !important
}
.Contact{
  color: #8c4843 !important
}
.services{
  color: #bba14f !important
}
.mycv{
  display: flex;
  justify-content: space-around;
  background-color: #a2d3c2;
}
.name{
 color: #338d6c;
}
.description{
color: #8c4843;
}
.mb-3{
  color: antiquewhite;
}
.rowa{
  color: #338d6c;
  background-color: #bba14f;
}
.rowb{
  background-color: #dff3e3;
}
.rowc{
  color: #338d6c;
}
.rowd{
  color: #338d6c;
}
.footer{
  display: flex;
background-color: #dff3e3;
color: #8c4843;
}